<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="/stu.css"> <!-- Link your CSS file if needed -->
</head>
<body>
    <h1>Edit Patient Details</h1>
    <form action="/patients/update/<%= patient._id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= patient.name %>" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="<%= patient.age %>" required><br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" value="<%= patient.gender %>" required><br>

        <label for="diagnosis">Diagnosis:</label>
        <input type="text" id="diagnosis" name="diagnosis" value="<%= patient.diagnosis %>" required><br>

        <label for="doctorAssigned">Doctor Assigned:</label>
        <input type="text" id="doctorAssigned" name="doctorAssigned" value="<%= patient.doctorAssigned %>" required><br>

        <button type="submit" class="btn btn-success">Update Patient</button>
    </form>
</body>
</html>
